name: sparta
channels:
- conda-forge
dependencies:
- python==3.12
- pip==25.0
- pip:
  - accelerate==1.6.0
  - click==8.1.8
  - datasets==3.5.0
  - deepspeed==0.16.7
  - evaluate==0.4.3
  - tensorflow==2.18.0
  - torch==2.7.0
  - peft==0.15.2
  - matplotlib
  - sentencepiece
